window {
    /* background-color: rgba (36, 47, 79, 0.95); */
    background-color: rgba (27, 30, 32, 0.95);
    color: #eeeeee;
    border-radius: 25px;
    border: 2px solid #424046;
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.2)
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 1px 0 1px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}
